<div class="container cart-container ">
    <h1>Cart</h1>
    <% @cart.cart_items.each do |item| %>
        <div class="cart-item">
            <h3><%= item.product.name %></h3>
            <p>Quantity: <%= item.quantity %></p>
            <%= button_to '+', cart_cart_item_path(@cart, item), method: :put, params: { cart_item: { quantity: item.quantity + 1 } }, class: 'btn btn-primary' %>
            <%= button_to '-', cart_cart_item_path(@cart, item), method: :put, params: { cart_item: { quantity: item.quantity - 1 } }, class: 'btn btn-primary' %>
            <%= button_to 'Remove', cart_cart_item_path(@cart, item), method: :delete, class: 'btn btn-danger' %>
        </div>
    <% end %>
    <%= button_to 'Empty Cart', cart_path(@cart), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-warning' %>
    <h3>Total: $<%= @cart.total_price %></h3>
    <%= link_to 'Home', products_path, class: 'btn btn-secondary' %>
</div>
